@import url(http://fonts.googleapis.com/css?family=Lato:bold,bolditalic,italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in 
{
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one 
{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.fade-in.two 
{
	-webkit-animation-delay: 1.0s;
	-moz-animation-delay: 1.0s;
	animation-delay: 1.0s;
}

body
{
	background-color: #FFF;
	height: 85%;
}
h1.title
{
	font-family: 'Lato';
	font-size: 60px;
	color: #b59663;
	letter-spacing:4px;
	word-spacing: 10px;
}

.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }      
.size-16 { font-size: 16px; }      
.size-18 { font-size: 18px; }      
.size-21 { font-size: 21px; }      
.size-24 { font-size: 24px; }      
.size-36 { font-size: 36px; }      
.size-48 { font-size: 48px; }
.size-54 { font-size: 54px; }     
.size-60 { font-size: 60px; }      
.size-72 { font-size: 72px; }      
.usage { margin-top: 10px; }

/*
.home-wrapper
{
	display: block;
	min-height: 200px;
	width: 100%;
	height: 100%;
}

.content-home-wrapper
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.header-center
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
*/


.container-fluid
{
	margin-right: auto;
	margin-left: auto;
	padding-right: 2rem;
	padding-left: 2rem;
}


.navigationbar img
{
	max-width: 100%;
	height: auto;
	margin-top: 10px;
	margin-left: 15px;
}

.header-mid
{
	margin-top: 25%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 4em;
	clear: both;
}

.social-icon
{
	margin: 20px;
	display: inline-block;
}

.icon-style
{
	color: #173F5E;
}

i:hover
{
	color: #008CBA;
}

.logo_text
{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: 11;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: black;
	margin:30px 0px 20px 15px;
}

.logo_box
{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: 10;
	margin: 20px 0px 20px 29px;
}

.logo_frame
{
	fill:blue;
	stroke:black;
	stroke-width:1;
	fill-opacity:0;
	stroke-opacity:1.0;
}
.logo_strip
{
	fill:white;
	fill-opacity:1;
	z-index: 10;
}
	/* Fixed header and footer.
	* --------------------------------------- */
	#header, #footer{
		position:fixed;
		height: 70px;
		display:block;
		width: 100%;
		z-index:9;
		text-align:center;
		padding: 20px 0 0 0;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}


h1.intro_title
{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 600;
	color: #242121;
	text-shadow: 0 1px 0 #CFCFCF;
	letter-spacing:2px;
	word-spacing: 5px;
}
h2.intro_subtitle
{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #484848;
	text-shadow: 0 1px 0 #CFCFCF;
	letter-spacing:1.5px;
	word-spacing: 2px;
}

h1.work_title
{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	color: #5d5d5d;
	letter-spacing:2px;
	word-spacing: 5px;
	/*margin-top: 75px;*/
}
#section0
{
	background-image: url("../img/intro_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -1;
}

#section2
{
	background-image: url("../img/ananya_1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    z-index: -1;
}

#section1 .fp-tableCell{
     vertical-align: top;
}

.yellow-under
{
	border-bottom: 2px solid yellow;
}

/* Media Queries */

@media only screen and (max-width: 60em){ 

	.column, .columns {
	    padding-left: 2rem;
	    padding-right: 2rem;
	}
	h1.intro_title
	{
	  	font-size: 1.3em;
	  	letter-spacing:0.05em;
		word-spacing: 0.05em;
	}
	h2.intro_subtitle
	{
	  	font-size: 1em;
	  	letter-spacing:0.05em;
		word-spacing: 0.05em;
		line-height: 1.5em;
	}
	#section0
	{
		background-position: bottom;
		background-size: contain;
	}
	#section2
	{
		background-position: left bottom;
	}
}


@media only screen and (min-width: 1400px) and (orientation: landscape)
{
	#section1 h1.work_title
	{
		margin-top: 20px;
	}
}


/* Mouse Scroll Icon */
#scrolldown {
  margin-left: -50px;
  position: absolute;
  left: 50%;
  text-align: center;
}
#scrolldown p {
  font: 700 0.7em/1em 'Avenir',sans-serif;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  color: #000;
}
#scrolldown > p {
  text-transform: uppercase;
  text-indent: 3px;
}
.mouse {
  border: 1px solid #1D1D1D;
  border-radius: 14px;
  display: block;
  height: 40px;
  left: 50%;
  margin: 10px 0 0 -13px;
  position: absolute;
  width: 26px;
}
.mouse span {
  display: block;
  font-size: 1.5em;
  margin: 6px auto;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
/* End Mouse Scroll */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
  vertical-align: bottom;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
/* Arrow scroll */